<script setup>
import { ref, watch } from "vue";
import policyHighlights from "../components/policyHighlights.vue";
import cloudClassRome from "../components/cloudClassRome.vue";
import { useRouter } from 'vue-router'

defineProps({
  msg: String,
});

const count = ref(0);
const tagList = [{
    name: '企业入驻',
    url: 'https://im.dg.gov.cn/'
  },{
    name: '政策要闻',
    url: '/#/?pages=policy'
  },{
    name: '奖补申报 ',
    url: 'https://dgsz.wozzy.com.cn/page/xmsb'
  },{
    name: '线上诊断 ',
    url: 'https://dgsz.wozzy.com.cn/column/zaixianzhenduan'
  },{
    name: '产品商城',
    url: 'https://dgsz.wozzy.com.cn/p/app'
  },{
    name: '解决方案',
    url: ''
  },{
    name: '标杆案例 ',
    url: ''
  },{
    name: '数转云课堂',
    url: '/'
  },{
    name: '服务商入驻',
    url: 'https://dgsz.wozzy.com.cn/page/fws'
  }
]
const router = useRouter();
let jumpPage = router.currentRoute.value.query.pages
console.log(jumpPage)

// watch([router.currentRoute.value.query.pages],(newValue,oldValue)=>{
//   if(newValue){
//     console.log('sssss')
//     window.location.reload()
//   }
// })
const jumpPageUrl = (url) => {
  if (url === '/#/?pages=policy') {
    jumpPage = 'policy'
  }
}
const jump = () => {
  window.location.href = 'https://dgsz.wozzy.com.cn/';
}
</script>

<template>
  <div class="box">
  <div class="top_select">
    <div style="display: flex;">
      <img src="../assets/img/dg_logo_demo.png" @click="jump()"/>
      <div class="tags" v-for="(item, index) in tagList">
        <a :href="item.url" @click="jumpPageUrl(item.url)">{{item.name}}</a>
      </div>
    </div>
    <div class="user">企业工作台&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp dgsz1026</div>
  </div>
  <policyHighlights v-if="jumpPage === 'policy'"></policyHighlights>
  <cloudClassRome v-else></cloudClassRome>
</div>
</template>

<style scoped  lang="scss">
.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top_select {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  img {
    width: 194px;
    height: 32px;
    margin-top: 15px;
    margin-left:32px;
    margin-bottom: 15px;
    margin-right: 32px;
  }
  .tags {
      a {
        color: #1D2129;
        font-family: Source Han Sans;
        font-size: 14px;
        font-weight: normal;
        line-height: 62px;
        letter-spacing: 0px;
        margin: 0 16px;
      }
    }
  @media (max-width: 1350px){
    .tags {
      display:none;
    }
  }
  .user {
    font-family: Source Han Sans;
    font-size: 14px;
    font-weight: normal;
    line-height: 62px;
    width: 250px;
  }
}
</style>
