<script setup>
import { ref, reactive } from "vue";
import { ElMessageBox } from 'element-plus'
import photoOne from '@/assets/img/Rectangle_316.png'
import photoTwo from '@/assets/img/Rectangle_318.png'
import photoThree from '@/assets/img/Rectangle_320.png'
import photoFour from '@/assets/img/Rectangle_322.png'
import photoFive from '@/assets/img/Rectangle_325.png'
import photoSix from '@/assets/img/Rectangle_326.png'
import videoOne from '@/assets/video/20231030_150546.mp4'
import videoTwo from '@/assets/video/20231030_161431.mp4'
import videoThree from '@/assets/video/20231030_162052.mp4'
import videoFour from '@/assets/video/20231030_162318.mp4'
import videoFive from '@/assets/video/20231030_162532.mp4'
const count = ref(0);
const videoList=[{
  url: videoOne,
  image: photoOne,
  title: '面对数字化转型的挑战，你准备好了吗?',
  tag: '企业数字化转型指南'
},{
  url: videoTwo,
  image: photoTwo,
  title: '5G智能制造改变生产模式',
  tag: '5G技术的应用与场景'
},{
  url: videoThree,
  image: photoThree,
  title: '鲲飞环保',
  tag: '智能化节能'
},{
  url: videoFour,
  image: photoFour,
  title: '智造云——制造云一站式升级',
  tag: '联通智造云'
},{
  url: videoThree,
  image: photoFive,
  title: '数字化转型——智造工厂',
  tag: '整体数字化改造'
},{
  url: videoOne,
  image: photoSix,
  title: '智能制造未来工厂',
  tag: '全面规划'
}
]
let volume = ref(0)
let dialogVisible = ref(false)
let playUrl = ''
const playVideo = (url) => {
  dialogVisible.value = true
  console.log(dialogVisible)
  playUrl = url
}
const handleClose = () => {
  volume.value = 0.0
  dialogVisible.value = false
}
</script>

<template>
  <div class="cloudClassRome">
    <div class="banner">
      <!-- 数转云课堂 -->
    </div>
    <div class="body_area">
      <div style="display: flex; margin-top: 16px; margin-bottom: 16px;">
        <div style="color: #4E5969;font-family: PingFangSC-Regular; font-size: 14px;font-weight: normal;line-height: 22px;"> 首页 </div>
        <div style="color: #C9CDD4;  margin-left: 6px;"> / </div>
        <div style="color: #1D2129; margin-left: 10px;font-family: PingFangSC-Regular; font-size: 14px;font-weight: normal;line-height: 22px;"> 数转云课堂 </div>
      </div>
      <div style="font-family: Source Han Sans;font-size: 28px;font-weight: 500;line-height: 42px;letter-spacing: 0px;color: #1D2129;margin-bottom: 25px;">培训视频</div>
      <div class="video_area">
        <div class="one_video" v-for="(item, index) in videoList" :key="index">
          <div style="position: relative;">
            <img :src="item.image"/>
            <img style="cursor: pointer; position:absolute; top: 80px; left: 164px; z-index:999; " src="@/assets/img/icon.png" @click="playVideo(item.url,index)"/>
          </div>
          <div class="text_area">
            <div>{{item.title}}</div>
            <div style="color: #86909C;font-size: 12px;">{{item.tag}}</div>
          </div>
        </div>
      </div>
      <div style="height: 24px;"></div>
      <el-dialog
        title="视频"
        :model-value="dialogVisible"
        width="1000px"
        :before-close="handleClose">
          <video
            id="video" 
            :src="playUrl"
            controls = "true"
            preload="auto"
            muted
            style="object-fit:inherit;width: 966px;">
          </video>
      </el-dialog>
    </div>
  </div>
</template>

<style scoped lang="scss">
.cloudClassRome {
  background-color: #F7F8FA;
  width: 100%;
  height: calc(100vh - 62px);
  overflow: auto;
  .banner {
    width: calc(100% - 360px);
    height: 125px;
    background: url(../assets/img/Frame_201.png) no-repeat;
    background-size: 100% 100%;
    font-family: Alibaba PuHuiTi 2.0;
    font-size: 36px;
    font-weight: bold;
    line-height: 42.12px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 75px 0 0 360px;
  }
  .body_area {
    width: 1200px;
    height: 20px;
    margin: auto;
    .video_area {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .one_video {
        width: 384px;
        height: 316px;
        border-radius: 4px;
        opacity: 1;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px 0px rgba(0, 36, 75, 0.06);
        margin-bottom:24px;
        font-family: Source Han Sans;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: 0px;
        color: #1D2129;
        video {
          width: 384px;
        }
        .text_area {
          margin-top: 24px;
          margin-left: 24px;
        }
      }
      .one_video:hover {
        color: #267EDF;
      }
    }
  }
}
</style>
