<script setup>
import { ref, reactive } from "vue";

const formLabelAlign = reactive({
  policyType: '全部',
  area: '全部',
  time: '',
  input:'',
  company: '全部',
  province: '',
  city: '',
  region: ''
})

const onSubmit = () => {
  console.log('submit!')
}


const count = ref(0);
const currentPage = 1;
const pageSize = 10;
const newsList = [
  {
    code: '01',
    title: '关于2023年东莞市工业和信息化产业发展专项资金智能工厂（车间）项目入库计划的公示',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/newss/1698394787858483'
  },
  {
    code: '02',
    title: '关于2023年东莞市工业和信息化产业发展专项资金两化融合贯标项目拟资助企业名单的公示',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/newss/1698394904125260'
  },
  {
    code: '03',
    title: '关于2023年工业设计大奖项目资助计划的公示',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/newss/1698394569629012'
  },
  {
    code: '04',
    title: '关于《东莞市“倍增计划”骨干人员资助项目实施细则（征求意见稿）》公开征求意见情况的公告',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/newss/1698394819041175'
  },
  {
    code: '05',
    title: '关于《东莞市“工改M1”项目企业入驻管理工作指引》公开征求意见情况的公告',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/newss/1698394623731614'
  },
  {
    code: '06',
    title: '关于拨付2023年省促进小微工业企业上规模发展资金项目的通知',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/tongzhi/1698394013341496'
  },
  {
    code: '07',
    title: '关于组织申报2023年度东莞市倍增企业经营管理者素质提升资助的通知',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/tongzhi/1698394931545919'
  },
  {
    code: '08',
    title: '转发关于组织开展2023年未来产业创新任务揭榜挂帅工作的通知',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/tongzhi/1698394714270304'
  },
  {
    code: '09',
    title: '关于印发《规上工业企业2023年电费补贴项目操作指南》的通知',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/tongzhi/1698394396179044'
  },
  {
    code: '10',
    title: '关于开展东莞市中小企业数字化转型试点城市数字化牵引单位遴选申报工作的通知',
    date: '2023-10-27',
    url: 'https://dgsz.wozzy.com.cn/info/tongzhi/1698394754971768'
  },
]
const provinceOptions = [
  '北京','上海','天津','重庆','河北','山西','河南','辽宁','吉林','黑龙江','内蒙古','江苏','山东','安徽','浙江'
]
const cityOptions = [
  '朝阳区','海淀区','西城区','东城区','丰台区','石景山区','门头沟','房山区','通州区','大兴区','顺义区','怀柔区','密云区','昌平区',
]
const regionOptions = [
  '三环以内','三环到四环之间','四环到五环之间','五环到六环之间','管庄地区','北苑','定福庄','安贞街道','奥运村街道',
]
const handleSizeChange = () => {

}
const handleCurrentChange = () => {

}
const jumpPage = (url) => {
  // window.open(url)
  window.location.href = url;
}
</script>

<template>
  <div class="policyHighlights">
    <div class="banner">
      政策要闻
    </div>
    <div class="body_area">
      <div style="display: flex; margin-top: 16px; margin-bottom: 16px;">
        <div style="color: #4E5969;font-family: PingFangSC-Regular; font-size: 14px;font-weight: normal;line-height: 22px;"> 首页 </div>
        <div style="color: #C9CDD4;  margin-left: 6px;"> / </div>
        <div style="color: #1D2129; margin-left: 10px;font-family: PingFangSC-Regular; font-size: 14px;font-weight: normal;line-height: 22px;"> 政策要闻 </div>
      </div>
      <div class="element_area">
        <el-form :model="formLabelAlign" label-width="100px">
          <el-form-item label="政策类型：">
            <el-radio-group v-model="formLabelAlign.policyType">
              <el-radio label="全部">全部</el-radio>
              <el-radio label="规范规划类">规范规划类</el-radio>
              <el-radio label="资金支持类">资金支持类</el-radio>
              <el-radio label="税费减免类">税费减免类</el-radio>
              <el-radio label="资质认定类">资质认定类</el-radio>
              <el-radio label="法规管制类">法规管制类</el-radio>
              <el-radio label="招商政策类">招商政策类</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="地域：">
            <el-radio-group v-model="formLabelAlign.area">
              <el-radio label="全部">全部</el-radio>
              <el-radio label="中央">中央</el-radio>
            </el-radio-group>
            <el-select v-model="formLabelAlign.province" class="m-2" placeholder="请选择省">
              <el-option
                v-for="item in provinceOptions"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
            <el-select v-model="formLabelAlign.city" class="m-2" placeholder="请选择市">
              <el-option
                v-for="item in cityOptions"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
            <el-select v-model="formLabelAlign.region" class="m-2" placeholder="请选择区">
              <el-option
                v-for="item in regionOptions"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="发布单位：">
            <el-radio-group v-model="formLabelAlign.company">
              <el-radio label="全部">全部</el-radio>
              <el-radio label="人民政府">人民政府</el-radio>
              <el-radio label="经信系统">经信系统</el-radio>
              <el-radio label="发改系统">发改系统</el-radio>
              <el-radio label="科技系统">科技系统</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="发布时间：">
            <div style="width: 334px">
              <el-date-picker
                v-model="formLabelAlign.time"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期时间"
                end-placeholder="结束日期时间"
              />
            </div>
          </el-form-item>
          <el-form-item label="">
            <div style="width: 370px; marginRight: 16px;">
              <el-input v-model="formLabelAlign.input" placeholder="请输入政策标题或关键字" />
            </div>
            <el-button type="primary">智能匹配</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="text_line">
        共为您找到<span style="color: #267EDF"> 55 </span>个相关信息
      </div>
      <div class="table_area">
        <div class="left_area">
          <div class="news_list" v-for="(item, index) in newsList" @click="jumpPage(item.url)">
            <div class="news_list_text">{{ item.code }} / <span style="color: #1D2129">{{ item.title }}</span></div>
            <div class="date_area">{{ item.date }}</div>
          </div>
        </div>
        <img class="right_area" alt="" src="../assets/img/Frame_213.png" @click="jumpPage('https://zcpp.yundeeiot.com/')">
      </div>
      <div class="bottom_line">
        <el-pagination
          v-model:current-page="currentPage"
          v-model:page-size="pageSize"
          :page-sizes="[10, 20, 30, 40]"
          :disabled="disabled"
          layout="total, sizes, prev, pager, next, jumper"
          :total="55"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
      <div style="height: 24px;"></div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.policyHighlights {
  background-color: #F7F8FA;
  width: 100%;
  height: calc(100vh - 62px);
  overflow: auto;
  .banner {
    width: calc(100% - 360px);
    height: 125px;
    background: url(../assets/img/zhengceyaowen.png) no-repeat;
    background-size: 100% 100%;
    font-family: Alibaba PuHuiTi 2.0;
    font-size: 36px;
    font-weight: bold;
    line-height: 42.12px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 75px 0 0 360px;
  }
  .body_area {
    width: 1200px;
    height: 20px;
    margin: auto;
    .element_area {
      width: 100%;
      height: 276px;
      border-radius: 4px;
      opacity: 1;
      padding-top: 28px;
      background: linear-gradient(180deg, #F5FAFF 0%, #FFFFFF 100%);
      box-shadow: 0px 8px 24px 0px rgba(0, 36, 77, 0.06);
    }
    .el-select {
      width: 120px;
      margin-left: 24px;
    }
    :deep(.el-radio__input) {
      display: none ;
    }
  }
  .text_line {
    font-family: Source Han Sans;
    font-size: 14px;
    font-weight: normal;
    line-height: 54px;
    letter-spacing: 0px;
    color: #86909C;
  }
  .table_area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    .left_area {
      width: 792px;
      height: 496px;
      border-radius: 4px;
      opacity: 1;
      background: #FFFFFF;
      padding: 24px;
      .news_list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        .news_list_text {
          font-family: DIN-Medium;
          font-size: 20px;
          font-weight: normal;
          line-height: 28px;
          letter-spacing: 0px;
          color: #267EDF;
          width: 660px;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
        }
        .date_area { 
          font-family: Source Han Sans;
          font-size: 12px;
          font-weight: normal;
          line-height: 20px;
          text-align: right;
          letter-spacing: 0px;
          color: #86909C;
        }
      }
    }
    .right_area {
      width: 336px;
      cursor: pointer;
    }
  }
  .bottom_line {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
