<script setup>
import indexPage from "./views/index.vue";
import { ref, onMounted } from "vue";
const num = ref(5);

const stepper = ref();
onMounted(() => {
  console.log("组件已经挂载完毕");
});
</script>

<template>
   <router-view></router-view>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
